
<PageTitle>@Title</PageTitle>
<Title Level="4">@Title</Title>
<Text Class="mt-5">@Description</Text>

@code {
    [Parameter] public string Icon { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
}
